html {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    height: 100%;
    margin: 0;
}

a {
    color: $gray-1000;
}