html {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4;

    body {
        height: 100%;
        margin: 0;

        .content-wrapper {
            width: 1010px;
            margin: 0 auto;
        
            @media (max-width: 1020px) {
                width: 95%;
            }
        } 
        
        a {
            color: $gray-1000;
        }
        
        ul {
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            
            li {
                list-style: none;
            }
        }
    }
}


