.admin-panel-wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    
    .admin-side-menu {
        width: 250px;
        background-color: $gray-300; 
        
        .collapse-btn-wrapper {
            position: absolute;
            cursor: pointer;
            left: 210px;
        }

        .side-menu-header {
            display: flex;
            padding: 40px 65px 20px 30px;
            border-bottom: 1px solid $gray-200;
            align-items: center;

            .avatar-wrapper {                
                img {                    
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                }
            }

            .user-text-info {

                .user-info {
                    display: block;
                    font-size: 16px;
                    margin-left: 15px;
                }
            }

        }

        .admin-navigation {

            ul {
                a {
                    text-decoration: none;
                    color: $gray-1000;
                    font-weight: 500;
                    font-size: 16px;

                    &:hover {
                        font-weight: 600;
                    }

                    li {
                        padding: 15px 0 15px 30px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
    
                        &:hover {
                            background-color: $gray-200;
                        }
    
                        .nav-item-title {
                            margin-left: 20px;
                        }                        
                    }
                }
            }
        }
    }

    .admin-content-wrapper {
        width: calc(100% - 250px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content {
            padding: 20px;
        }

        .admin-bottom-info {
            text-align: center;
            padding: 5px 0;
            background-color: #FCFCFC;   
            box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.15)
        }
    }
    
    .full-width {
        width: calc(100% - 90px);
    }

    .collapsed-admin-side-menu {
        width: 90px;

        .collapse-btn-wrapper {
           left: 55px;

            img {
                transform: rotate(180deg);
            }
        }

        .admin-navigation {
            ul {
                a {
                    li {
                        padding: 15px 0 15px 0;
                        justify-content: center;
    
                        .nav-item-title {
                            display: none;
                        }
                    }
                }
            }
        }

        .side-menu-header {           
            padding: 40px 0 20px 0;
            justify-content: center;

            .avatar-wrapper {                
                img {                    
                    width: 45px;
                    height: 45px;
                }
            }

            .user-text-info {
                .user-info {
                    display: none;
                  
                }
            }
        }
    }
}