.form-steps {
    display: flex;
    justify-content: space-between;


    .step {
        padding: 10px 19px;
        font-size: 20px;
        color: $gray-100;
        background-color: $gray-300;
        border-radius: 50%;
    }
    
    .active-step {
        background-color: $yellow;
        color: $black;
    }
}

.form-fields-section {
    padding-top: 30px;                
}

.gray-btn {
    margin-top: 10px;
}
