.form-fields-section {
    padding-top: 30px;      

    input, select, textarea {
        margin-bottom: 15px;       
    }

    .radio-toolbar {
        margin-bottom: 15px;
    }
}

.gray-btn {
    margin-top: 10px;
}
