.form-fields-section {
    padding-top: 30px;     
    
    .fuel-validator-errors-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .fuel-data-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        select {
            width: 50%;
        }
        
        input {
            width: 15%;
        }
        
        .label-text {
            margin-bottom: 12px;
        }
        
    }
    
    button {
        margin-top: 10px;
    }
    
    .light-gray-btn {
        margin-right: 15px;
    }
}