.form-fields-section {
    padding-top: 30px;     
    
    input, select, textarea {
        margin-bottom: 15px;       
    }

    .radio-toolbar {
        margin-bottom: 15px;
    }
    
    .fuel-validator-errors-wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .fuel-data-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        select {
            width: 50%;

            @media (max-width: 460px) {
                width: 35%;
            }

            @media (max-width: 340px) {
                width: 30%;
            }

            @media (max-width: 312px) {
                width: 20%;
            }
        }
        
        input {
            width: 15%;

            @media (max-width: 312px) {
                width: 20%;
            }
        }
        
        .label-text {
            margin-bottom: 12px;
        }
        
    }
    
    button {
        margin-top: 10px;
    }
    
    .light-gray-btn {
        margin-right: 15px;
    }
}