.request-sending-result {
    h3 {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    .success-buttons-wrapper {
        display: flex;
        justify-content: space-around;
    }
}