.request-sending-result {
    
    .succesful-notification {
        display: flex;
        justify-content: center;

    }

    h3 {
        font-size: 30px;
        font-weight: bold;
        text-align: center;

        @media (max-width: 834px) {
            font-size: 22px;
        }
    }

    .success-buttons-wrapper {
        display: flex;
        justify-content: space-around;

        @media (max-width: 427px) {
            flex-direction: column;

            .light-gray-btn {
                margin-bottom: 10px;
            }
        }
    }
}