.form-fields-section {

    input, select, textarea {
        margin-bottom: 15px;       
    }

    .radio-toolbar {
        margin-bottom: 15px;
    }
    
    .type-of-communication-header-text {
        display: block;
        margin-top: 30px;
    }
    
    hr {
        margin: 20px 0;
    }

    button {
        margin-top: 10px;
    }
    
    .light-gray-btn {
        margin-right: 15px;
    }
}    
