.request-form-page-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 55px 0;

    .form-description {
        color: $gray-800;
        font-size: 25px;
        position: absolute;
        top: 80px;
    }

    .form-wrapper {
        width: 57%;

        .part-request-form {
            padding: 20px 60px;
            border: 2px solid $gray-100;
            border-radius: 15px;
            position: relative;

            .form-steps {
                display: flex;
                justify-content: space-between;


                .step {
                    padding: 10px 19px;
                    font-size: 20px;
                    color: $gray-100;
                    background-color: $gray-300;
                    border-radius: 50%;
                }
                
                .active-step {
                    background-color: $yellow;
                    color: $black;
                }
            }

            .form-fields-section {

                label {
                    display: block;
                }
                
            }

        }
    }

    .request-right-info-wrapper {
        width: 36%;
        border-radius: 15px;
        background-color: $blue-250;
        padding: 37px 25px;
    }
}

