.pagination {
    display: flex;
    justify-content: center;

    .page-link {
        cursor: pointer;
        margin-left: 8px;
        border: 1px solid  $gray-700;
        padding: 2px 8px;
        border-radius: 4px;
        color: $gray-1000;
        font-size: 14px;
        font-weight: 500;

        &:hover {
            background-color: $white;
            color: $gray-1000;
            border-color: $gray-700;
        }
    }

    .active .page-link {
        background-color: $gray-150;
        color: $blue;
        border-color: $blue;
    }
}