.footer {
    background-color: $white;
    box-shadow: 0px 30px 85px 0px rgba(0, 0, 0, 0.25);

    .content-wrapper {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        ul {
            padding-inline-start: 0;
            margin-block-start: 0;
            margin-block-end: 0;

            li {
                list-style: none;
            }
        }

        .main-footer-nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 30px 0;

            @media (max-width: 740px) {
                flex-wrap: wrap;
            }
            
            .logo-container {
                width: 30%;

                
                @media (max-width: 740px) {
                    width: 100%;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $gray-100;
                }

                .footer-logo {
                    font-size: 22px;
                    font-weight: 600;
                    margin: 10px 0;
                }

                .sellers-entrance {
                    font-size: 18px;
                    font-weight: 500;
                    color: $gray-800;
                    margin-bottom: 10px;

                    a {
                        color: $blue;
                        margin-left: 5px;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }

                .footer-project-description {
                    color: $gray-800;
                    font-size: 14px;
                }

            }

            .footer-navs-column {
                font-size: 14px;
                font-weight: 500;

                @media (max-width: 500px) {
                    font-size: 14px;
                }

                @media (max-width: 390px) {
                    width: 100%;
                    border-bottom: 1px solid $gray-100;
                    padding-bottom: 20px;
                }

                li {
                    margin-top: 20px;
                }
            }
        }

        .bottom-footer-part {
            padding: 20px 0;
            border-top: 1px solid $gray-100;           
            border-bottom: 1px solid $gray-100;
            display: flex;
            flex-direction: column;

            @media (max-width: 390px) {
                border-top: none;
                padding-top: 0;               
            }

            .bototom-footer-header {
                font-weight: 500;
            }

            ul {
               display: flex;
               margin-top: 15px;

               li {
                  cursor: pointer;

                  &:hover {
                    opacity: 0.8;

                  }
                    &:not(:first-child) {
                        margin-left: 15px;
                    }
               }
            }

           
        }
        .footer-rights {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding: 5px 0 40px 0;
        }
    }
}